name: My Test Pipeline
on:
  push:
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Check out code
        uses: actions/checkout@v3
      - name: (DEBUG) List files in directory
        run: ls -l
      - name: 2. Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: 3. Install dependencies
        run: pip install -r requirements.txt
      - name: 4. Run tests
        run: pytest